/* Chat X */
.cx-container {
  display: flex;
  flex-direction: row;

  height: 80vh;
}

.cx-right-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

.cx-left-panel {
  border-right: 1px solid black;
}

.no-room {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 24px;
}

/* Room List */
.rl-container {
  display:flex;
  flex-direction: column;

  height: 100%;
  width: 250px;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.rl-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rl-list .room-name {
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.rl-list .room-name:hover {
  font-weight: bold;
  color: #337ab7;
}

.rl-list > .active > .room-name {
  font-weight: bold;
}

.rl-list .active_users > div {
  margin-left: 10px;
  font-style: italic;
}

.rl-create-room {
  flex-shrink: 0;
  flex-grow: 0;
}

.rl-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Messages Display */
.rc-md-content {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;

  overflow: scroll;
}

.rc-ci-content {
  flex-grow: 0;
  flex-shrink: 0;
}

.cx-md-message {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.md-message-author {
  font-weight: bold;
}

.md-message-content {
  margin-left: 20px;
}

/* Input chat */

.message-sender-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-sender-input {
  flex-grow: 1;
  margin-right: 20px;
}

.message-sender-submit {
  width: 100px;
}
